body {
    background-color: var(--background2);
}

/* common css */
.main_heading {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.3mm;
    padding-top: 15px;
    color: var(--heading1);
    text-align: center;
    font-size: 55px;
}

.article_api_container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: center;
}

.article_api_container>a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: var(--text1);
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    /* background-color: rebeccapurple; */
}

/* card css  */
.article_api_card_container {
    width: 100%;
    border-radius: 10px;
    background-color: var(--card_background);
    padding: 10px;
    border: 2px solid var(--card_border);
}

.article_api_card_container:hover {
    cursor: pointer;
}

.article_api_card_heading {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 30px;
}

.article_api_tag_container {
    margin: 0px 5px;
    font-size: 13px;
}

.article_api_tag_heading {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.article_api_tag {
    letter-spacing: 0.3mm;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    padding: 3px 10px;
    margin-right: 3px;
    margin-top: 10px;
    display: inline-block;
    color: var(--text1);
    background-color: var(--background1);
}

.article_api_views_container {
    font-family: 'Roboto', sans-serif;
    margin: 0px 5px;
    margin-top: 7px;
    font-size: 15px;
}