*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
}
/* my image  */
.home_blob {
    padding-top: 25px;
    width: 200px;
    fill: #6e57e0;
    display: block;
    margin: auto;
  }
  
  .home_blob-img {
    width: 170px;
  }

  @media screen and (max-width: 350px) {
    .home_blob {
      width: 180px;
    }
  }
  @media screen and (min-width: 768px) {
    .home_blob {
        width: 270px;
      }
  }
  @media screen and (min-width: 1024px) {
    .home_blob {
        width: 320px;
      }
  }

/* form section  */
#contact{
    margin: 20px auto;
    color: white;
}

#contact_title{
    margin: 10px 0px;
    font-size: 3rem;
    text-align: center;
}

#contact_subtitle{
    font-size: 2rem;
    opacity: 0.6;
    text-align: center;
    width: 100%;
    display: inline-block;
}

#contact_container{
    max-width: 1000px;
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}

#contact_container a{
text-decoration: none;
color: white;
}

#contact_container>div{
    padding-top: 12px;
    display: flex;
    flex-direction: column;
}

#contact_container>div>a{
    margin-bottom: 30px;
}

.contact_info{
    display: flex;
    flex-direction: row;
}

.contact_info>i{
    font-size: 35px;
    margin-right: 12px;
    color: rgb(196, 35, 255);
}

.contact_info div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1.2rem;
}
.contact_info span{
    opacity: 0.6;
}

#contact-form{
    width: 600px;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}

#contact_inputs{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: space-between;
}
#contact_inputs .contact_content{
    width: 46%;
}


.contact_content{
    display: flex;
    flex-direction: column;
    border: 2px solid purple;
    background-color: hsl(250, 29%, 16%);
    color: white;
    border-radius: 8px;
    padding: 15px;
    gap: 5px;
    font-size: 20px;
    margin: 10px 5px;
}

.contact_input{
    font-size: 18px;
    color: wheat;
    background-color: transparent;
    border: none;
    outline: none;
}


/* form send btn  */
#form_send_btn {
    margin: auto;
    margin-top: 10px;
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  #form_send_btn span {
    display: block;
    margin-left: 0.3em;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  #form_send_btn svg {
    display: block;
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  
  #form_send_btn:hover .svg-wrapper {
    -webkit-animation: fly-1 0.6s ease-in-out infinite alternate;
            animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
  #form_send_btn:hover svg {
    -webkit-transform: translateX(3.0em) rotate(45deg) scale(1.1);
        -ms-transform: translateX(3.0em) rotate(45deg) scale(1.1);
            transform: translateX(3.0em) rotate(45deg) scale(1.1);
  }
  
  #form_send_btn:hover span {
    -webkit-transform: translateX(8em);
        -ms-transform: translateX(8em);
            transform: translateX(8em);
  }
  
  #form_send_btn:active {
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95);
  }
  
  @-webkit-keyframes fly-1 {
    from {
      -webkit-transform: translateY(0.1em);
              transform: translateY(0.1em);
    }
  
    to {
      -webkit-transform: translateY(-0.1em);
              transform: translateY(-0.1em);
    }
  }
  
  @keyframes fly-1 {
    from {
      -webkit-transform: translateY(0.1em);
              transform: translateY(0.1em);
    }
  
    to {
      -webkit-transform: translateY(-0.1em);
              transform: translateY(-0.1em);
    }
  }
  
  