/* footer */
#f_main_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 90px;
    background-color: var(--background1);
    /* border-top: 3px solid var(--black2); */
    opacity: 0.9;
}

#foot_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo-brand {
    display: flex;
    margin: 4px 80px;
}

#logo-brand h1 {
    color: var(--nav_heading);
    font-size: 30px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo-brand img {
    width: 70px;
    height: 70px;
    margin: 0px 10px;
}

#footer_social {
    display: flex;
    margin-right: 100px;
}
#footer_social a{
    margin: 29px 4px;
}
#footer_social svg:hover{
    cursor: pointer;
}
.footer_links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 5px;
}
.foot_link_text{
    color: var(--text1);
    padding: 1px 0px;
    font-size: 17px;
}
.foot_link_text:hover{
    cursor: pointer;
    color: var(--nav_link_hover);
}

@media (max-width: 500px){
    #logo-brand {
        margin: 0px 10px;
    }
    
    #logo-brand h1 {
        font-size: 15px;
    }
    
    #logo-brand img {
        width: 50px;
        height: 50px;
    }
    .footer_links{
        display: none;
    }
    #footer_social{
        margin-right: 10px;
    }
}