body {
    background-color: var(--background2);
}

/* common css */
.main_heading {
    padding-top: 15px;
    color: var(--heading1);
    text-align: center;
    font-size: 3.5rem;
}

/* more button css  */
.more_btn {
    width: 200px;
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica, "sans-serif";
    -webkit-transition: all .2s;
    transition: all .2s;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--more_button);
    border: 1px solid transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 15px;
    margin: 15px auto;
}

.more_btn:hover {
    background: var(--more_button_hover);
}

.more_btn>svg {
    width: 34px;
    margin-left: 10px;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.more_btn>span {
    padding-top: 2px;
}

.more_btn:hover svg {
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px);
}

.more_btn:active {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

/* more btn end  */

@media (max-width: 500px) {
    .main_heading {
        font-size: 2.5rem;
    }
}