:root{
    --purplr : rgb(110, 87, 224);
}

*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 96%;
    margin: auto;
}

.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    /* position: fixed; */
    position: relative;
    width: 100%;
    background: rgb(0, 0, 0);
    color: var(--purplr);
    opacity: 0.85;
    z-index: 100;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

#iconContainer{
    width: 25px;
    height: 25px;
    margin: 0px 5px 0px;
    padding: 0px;
}
.search_icon {
    box-sizing: border-box;
    fill: white;
    font-size: 25px;
  }
.login{
    order: 3;
    display: flex;
    align-items: center;
}
.login button{
    list-style: none;
    margin: 0px 3px;
    font-size: 18px;
}

.logo{
    order: 1;
    font-size: 2.0rem;
}
.menu-items{
    order: 2;
    display: flex;
}

.menu-items li{
    list-style: none;
    margin-left: 0.8rem;
    font-size: 1.3rem;
}

.navbar a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
    padding: 5px 8px;
    border-radius: 9px;
}

.navbar a:hover{
    color: wheat;
}


@media (max-width: 1050px){
    .navbar{
        opacity: 0.85;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 60px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        /* background: #fff; */
        background: rgb(0, 0, 0);
        height: 100vh;
        max-width: 250px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        /* padding-left: 40px; */
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

    .navbar .menu-items li{
        /* font-size: 1.1rem; */
        font-weight: 500;
        margin: 3px auto;
    }

    .navbar a{
        display: inline-block;
        width: 200px;
        height: 35px;
        text-align: center;

    }

    .logo{
        /* position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2.5rem; */
        display: none;
    }
    .login{
        position: absolute;
        top: 15px;
        right: 2px;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
}

/* nav button */
.nav_btn {
    border: none;
    color: #fff;
    background-color: rgb(32, 32, 32);
    border-radius: 5px;
    font-family: inherit;
    padding: 5px 12px;
}

.nav_btn:hover {
    opacity: 0.80;
}

/* change theme switch */
/* The switch - the box around the slider */
.switch {
    font-size: 12px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
    /* display: none; */
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    --background: #28096b;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    -webkit-transition: .5s;
    transition: .5s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    -webkit-box-shadow: inset 8px -4px 0px 0px #fff000;
            box-shadow: inset 8px -4px 0px 0px #fff000;
    background: var(--background);
    -webkit-transition: .5s;
    transition: .5s;
  }
  
  input:checked + .slider {
    background-color: #522ba7;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-box-shadow: inset 15px -4px 0px 15px #fff000;
            box-shadow: inset 15px -4px 0px 15px #fff000;
  }

/* nav css end  */