body {
    background-color: var(--background2);
}

/* common css */
.main_heading {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.3mm;
    padding-top: 15px;
    color: var(--heading1);
    text-align: center;
    font-size: 55px;
}

.project_container {
    width: 90%;
    max-width: 1300px;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: center;
}

/* card css  */

.project_card2 {
    margin: 1px 1px;
    width: 300px;
    height: 380px;
    background-color: var(--card_background);
    border-radius: 20px;
    transition: all .2s;
    border: 2px solid var(--card_border);
    color: var(--text1);
    overflow: hidden;
}

.project_card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
    cursor: default;
}

/* inside card  */
.project_card_image {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
}

.project_card_image img {
    width: 100%;
    max-height: 200px;
    object-fit: fill;
}

.project_card2 h2 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.3mm;
    padding: 0px 15px;
    padding-top: 5px;
    text-align: center;
    font-weight: normal;
    letter-spacing: 0.2mm;
}

/* card button  */
.project_card2 a {
    text-decoration: none;
    display: block;
    width: 160px;
    margin: auto;
}

.cssbuttons-io-button {
    width: 100%;
    background: var(--built_now_background);
    color: var(--built_now_text);
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    margin: auto;
}

.cssbuttons-io-button:hover {
    cursor: pointer;
}

.cssbuttons-io-button .icon {
    background-color: var(--built_now_icon_background);
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.0em;
    width: 2.2em;
    border-radius: 0.7em;
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    /* color: #7b52b9; */
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}

/* tag  */
.project_tag_container {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.3mm;
    padding: 0px 15px;
    margin-bottom: 12px;
    height: 35px;
    overflow: hidden;
    font-size: 13px;
}

.project_tag_heading {
    font-size: 16px;
}

.project_tag {
    border: 1px solid var(--tag_border);
    border-radius: 5px;
    padding: 3px 10px;
    margin-right: 3px;
    margin-top: 10px;
    background-color: var(--background1);
    color: var(--text1);
    display: inline-block;
}

@media (max-width: 800px) {
    .project_card2 {
        width: 280px;
        height: 360px;
    }

    /* inside card  */
    .project_card_image {
        max-height: 170px;
    }

    .project_card_image img {
        max-height: 170px;
    }

    /* card button  */
    .project_card2 a {
        width: 130px;
    }

    .cssbuttons-io-button {
        font-size: 14px;
        padding-right: 0px;
    }
}