:root {
  --nav_heading: rgb(110, 87, 224);
  --nav_link_hover: wheat;
  --background1: rgb(0, 0, 0);
  --background2: rgb(17, 17, 17);
  --text1: rgb(205, 205, 205);
  --output_text: white;
  --heading1: wheat;
  --heading2: white;
  --code_background: rgb(56, 56, 56);
  --more_button: rgb(182, 168, 255);
  --more_button_hover: rgb(201, 192, 255);
  --card_background: rgba(45, 45, 52, 0.6);
  --card_border: rgb(110, 87, 224);
  --built_now_background: #A370F0;
  --built_now_text: white;
  --built_now_icon_background: rgb(46, 43, 43);
  --tag_border: black;
  --contact_image_background: #6e57e0;
  --contact_page_icons: rgb(196, 35, 255);
  --contact_page_input_border: purple;
  --contact_page_input_background: hsl(250, 29%, 16%);
  --contact_page_input_lable: white;
  --contact_page_input_text: wheat;
  --contact_page_form_send: royalblue;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background-color: var(--background2);
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  width: 100%;
  padding: 40px 10px;
}

#inputElements {
  display: flex;
  flex-direction: row;
  gap: 60px
}

.color-wheel-container {
  display: inline-block;
  position: relative;
}

canvas {
  cursor: crosshair;
  display: block;
  margin: 0 auto;
}

#pointer {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  background: white;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.output-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.color-display {
  width: 100%;
  max-width: 300px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid black;
}

.output {
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.output input{
width: 50px;
padding: 5px;
padding-right: 0px;
border-radius: 5px;
}

.output > div:nth-child(2) > input{
  flex-grow: 1;
}

.output div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.copy-btn {
  padding: 5px 10px;
  margin-left: 10px;
  font-size: 14px;
  border: none;
  background: #4caf50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 80px;
}

.copy-btn:hover {
  background: #45a049;
}

.opacity-slider-container {
  width: 0px;
  height: 100%;
  position: relative;
}

#opacitySlider {
  writing-mode: bt-lr;
  /* Vertical slider */
  transform: rotate(-90deg);
  transform-origin: left bottom;
  width: 300px;
  height: 20px;
  appearance: none;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0));
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#opacitySlider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background: var(--card_border);
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
      flex-direction: column;
      align-items: center;
  }

  .output-container {
      align-items: stretch;
  }
}