:root {
    --nav_heading: rgb(110, 87, 224);
    --background1: rgb(0, 0, 0);
    --background2: rgb(17, 17, 17);
    --text1: rgb(205, 205, 205);
    --output_text: white;
    --heading1: wheat;
    --code_background: rgb(56, 56, 56);
    --card_background: rgba(45, 45, 52, 0.6);
    --card_border: rgb(110, 87, 224);
}

body {
    background-color: var(--background1);
    color: var(--text1);
    font-family: Arial, sans-serif;
    margin: 0;
    height: 80vh;
}

header {
    background-color: var(--background2);
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-heading {
    color: var(--nav_heading);
    font-size: 2.5rem;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    height: calc(100vh - 80px); /* Fill viewport minus header height */
}

.editor-container,
.preview-container {
    border: 1px solid var(--card_border);
    border-radius: 8px;
    background-color: var(--code_background);
    overflow: hidden;
}

textarea {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    color: var(--output_text);
    font-size: 16px;
    font-family: monospace;
    padding: 10px;
    resize: none;
    outline: none;
    overflow-y: scroll;

}

.CodeMirror {
    height: 90%;
  }

input[type="file"] {
    margin-top: 10px;
    color: var(--output_text);
    background: var(--background2);
    border: 1px solid var(--card_border);
    border-radius: 5px;
    padding: 5px;
    outline: none;
    display: block;
}

.preview-output {
    color: var(--output_text);
    font-size: 1rem;
    line-height: 1.5;
}

/* Layout for top-and-bottom view */
#editor-preview-container.top-bottom-view {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

#editor-preview-container.side-by-side-view {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 100%;

}

#editor-preview-container.side-by-side-view .editor-container,
#editor-preview-container.side-by-side-view .preview-container {
    flex: 1;
    height: 100%;
    padding: 0 1rem;

}

/* Hide toggle button on small screens */
.toggle-button {
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 1rem;
    background-color: var(--nav_heading);
    color: var(--output_text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none; /* Hidden by default */
}

.toggle-button:hover {
    background-color: var(--card_border);
}

/* Display toggle button only on large screens */
@media (min-width: 768px) {
    .toggle-button {
        display: inline-block;
    }
}
